.l-spinner-blades-orange{--lc-color:#f97316}
.l-spinner-blades-orange{position:relative;width:var(--lc-size,40px);height:var(--lc-size,40px)}
.l-spinner-blades-orange span{position:absolute;top:0;left:calc(50% - 1.5px);width:3px;height:26%;border-radius:3px;background:var(--lc-color,#5b8def);transform-origin:50% calc(var(--lc-size,40px)/2);animation:l-spinner-blades-orange-f var(--lc-speed,1s) linear infinite}
.l-spinner-blades-orange span:nth-child(1){transform:rotate(0deg);animation-delay:calc(var(--lc-speed,1s)*0)}
.l-spinner-blades-orange span:nth-child(2){transform:rotate(30deg);animation-delay:calc(var(--lc-speed,1s)*-0.083)}
.l-spinner-blades-orange span:nth-child(3){transform:rotate(60deg);animation-delay:calc(var(--lc-speed,1s)*-0.166)}
.l-spinner-blades-orange span:nth-child(4){transform:rotate(90deg);animation-delay:calc(var(--lc-speed,1s)*-0.25)}
.l-spinner-blades-orange span:nth-child(5){transform:rotate(120deg);animation-delay:calc(var(--lc-speed,1s)*-0.333)}
.l-spinner-blades-orange span:nth-child(6){transform:rotate(150deg);animation-delay:calc(var(--lc-speed,1s)*-0.416)}
.l-spinner-blades-orange span:nth-child(7){transform:rotate(180deg);animation-delay:calc(var(--lc-speed,1s)*-0.5)}
.l-spinner-blades-orange span:nth-child(8){transform:rotate(210deg);animation-delay:calc(var(--lc-speed,1s)*-0.583)}
.l-spinner-blades-orange span:nth-child(9){transform:rotate(240deg);animation-delay:calc(var(--lc-speed,1s)*-0.666)}
.l-spinner-blades-orange span:nth-child(10){transform:rotate(270deg);animation-delay:calc(var(--lc-speed,1s)*-0.75)}
.l-spinner-blades-orange span:nth-child(11){transform:rotate(300deg);animation-delay:calc(var(--lc-speed,1s)*-0.833)}
.l-spinner-blades-orange span:nth-child(12){transform:rotate(330deg);animation-delay:calc(var(--lc-speed,1s)*-0.916)}
@keyframes l-spinner-blades-orange-f{0%,100%{opacity:.15}10%{opacity:1}}
