.l-ripple-square-indigo{--lc-color:#6366f1}
.l-ripple-square-indigo{position:relative;width:var(--lc-size,56px);height:var(--lc-size,56px)}
.l-ripple-square-indigo span{position:absolute;top:50%;left:50%;border:2px solid var(--lc-color,#5b8def);border-radius:6px;transform:translate(-50%,-50%);animation:l-ripple-square-indigo-r var(--lc-speed,1.4s) cubic-bezier(0,.2,.8,1) infinite}
.l-ripple-square-indigo span:last-child{animation-delay:calc(var(--lc-speed,1.4s)/-2)}
@keyframes l-ripple-square-indigo-r{0%{width:0;height:0;opacity:1}100%{width:var(--lc-size,56px);height:var(--lc-size,56px);opacity:0}}
