.l-spinner-dual-counter-teal{--lc-color:#14b8a6}
.l-spinner-dual-counter-teal{position:relative;width:var(--lc-size,48px);height:var(--lc-size,48px)}
.l-spinner-dual-counter-teal span{position:absolute;border-radius:50%;border:4px solid transparent}
.l-spinner-dual-counter-teal span:first-child{inset:0;border-top-color:var(--lc-color,#5b8def);animation:l-spinner-dual-counter-teal-r var(--lc-speed,1s) linear infinite}
.l-spinner-dual-counter-teal span:last-child{inset:9px;border-bottom-color:var(--lc-color,#5b8def);animation:l-spinner-dual-counter-teal-r var(--lc-speed,1s) linear infinite reverse}
@keyframes l-spinner-dual-counter-teal-r{to{transform:rotate(1turn)}}
