.l-se-dual-bounce-orange{--lc-color:#f97316}
.l-se-dual-bounce-orange{position:relative;width:var(--lc-size,16px);height:calc(var(--lc-size,16px)*3)}
.l-se-dual-bounce-orange::before,.l-se-dual-bounce-orange::after{content:'';position:absolute;top:0;left:0;width:var(--lc-size,16px);aspect-ratio:1;border-radius:50%;background:var(--lc-color,#5b8def);animation:l-se-dual-bounce-orange-m var(--lc-speed,1s) ease-in-out infinite}
.l-se-dual-bounce-orange::after{animation-delay:calc(var(--lc-speed,1s)/-2)}
@keyframes l-se-dual-bounce-orange-m{0%,100%{transform:translateY(0)}50%{transform:translateY(calc(var(--lc-size,16px)*2))}}
