.l-spinner-half-circle-amber{--lc-color:#f59e0b}
.l-spinner-half-circle-amber{width:var(--lc-size,48px);height:var(--lc-size,48px);border-radius:50%;border:calc(var(--lc-size,48px)/8) solid transparent;border-top-color:var(--lc-color,#5b8def);border-left-color:var(--lc-color,#5b8def);animation:l-spinner-half-circle-amber-r var(--lc-speed,.9s) linear infinite}
@keyframes l-spinner-half-circle-amber-r{to{transform:rotate(1turn)}}
