.l-lcss-ball-clip-rotate-green{--lc-color:#22c55e}
.l-lcss-ball-clip-rotate-green{width:var(--lc-size,40px);height:var(--lc-size,40px);border-radius:50%;border:2px solid var(--lc-color,#5b8def);border-bottom-color:transparent;animation:l-lcss-ball-clip-rotate-green-r var(--lc-speed,.75s) linear infinite}
@keyframes l-lcss-ball-clip-rotate-green-r{to{transform:rotate(1turn)}}
