.l-lcss-ball-clip-rotate-indigo{--lc-color:#6366f1}
.l-lcss-ball-clip-rotate-indigo{width:var(--lc-size,40px);height:var(--lc-size,40px);border-radius:50%;border:2px solid var(--lc-color,#5b8def);border-bottom-color:transparent;animation:l-lcss-ball-clip-rotate-indigo-r var(--lc-speed,.75s) linear infinite}
@keyframes l-lcss-ball-clip-rotate-indigo-r{to{transform:rotate(1turn)}}
