.l-svg-spinner-stroke-blue{--lc-color:#3b82f6}
.l-svg-spinner-stroke-blue{width:var(--lc-size,48px);height:var(--lc-size,48px);color:var(--lc-color,#5b8def);animation:l-svg-spinner-stroke-blue-rot var(--lc-speed,1.4s) linear infinite}
.l-svg-spinner-stroke-blue circle{animation:l-svg-spinner-stroke-blue-dash var(--lc-speed,1.4s) ease-in-out infinite}
@keyframes l-svg-spinner-stroke-blue-rot{to{transform:rotate(1turn)}}
@keyframes l-svg-spinner-stroke-blue-dash{0%{stroke-dasharray:1 150;stroke-dashoffset:0}50%{stroke-dasharray:90 150;stroke-dashoffset:-35}100%{stroke-dasharray:90 150;stroke-dashoffset:-124}}
