.l-se-dual-bounce-indigo{--lc-color:#6366f1}
.l-se-dual-bounce-indigo{position:relative;width:var(--lc-size,16px);height:calc(var(--lc-size,16px)*3)}
.l-se-dual-bounce-indigo::before,.l-se-dual-bounce-indigo::after{content:'';position:absolute;top:0;left:0;width:var(--lc-size,16px);aspect-ratio:1;border-radius:50%;background:var(--lc-color,#5b8def);animation:l-se-dual-bounce-indigo-m var(--lc-speed,1s) ease-in-out infinite}
.l-se-dual-bounce-indigo::after{animation-delay:calc(var(--lc-speed,1s)/-2)}
@keyframes l-se-dual-bounce-indigo-m{0%,100%{transform:translateY(0)}50%{transform:translateY(calc(var(--lc-size,16px)*2))}}
