.l-spinner-dual-ring-teal{--lc-color:#14b8a6}
.l-spinner-dual-ring-teal{width:var(--lc-size,48px);height:var(--lc-size,48px);border-radius:50%;border:calc(var(--lc-size,48px)/10) solid transparent;border-top-color:var(--lc-color,#5b8def);border-bottom-color:var(--lc-color,#5b8def);animation:l-spinner-dual-ring-teal-spin var(--lc-speed,1.1s) cubic-bezier(.5,0,.5,1) infinite}
@keyframes l-spinner-dual-ring-teal-spin{to{transform:rotate(1turn)}}
