.l-spinner-dual-ring-rose{--lc-color:#f43f5e}
.l-spinner-dual-ring-rose{width:var(--lc-size,48px);height:var(--lc-size,48px);border-radius:50%;border:calc(var(--lc-size,48px)/10) solid transparent;border-top-color:var(--lc-color,#5b8def);border-bottom-color:var(--lc-color,#5b8def);animation:l-spinner-dual-ring-rose-spin var(--lc-speed,1.1s) cubic-bezier(.5,0,.5,1) infinite}
@keyframes l-spinner-dual-ring-rose-spin{to{transform:rotate(1turn)}}
