.l-se-dual-bounce-teal{--lc-color:#14b8a6}
.l-se-dual-bounce-teal{position:relative;width:var(--lc-size,16px);height:calc(var(--lc-size,16px)*3)}
.l-se-dual-bounce-teal::before,.l-se-dual-bounce-teal::after{content:'';position:absolute;top:0;left:0;width:var(--lc-size,16px);aspect-ratio:1;border-radius:50%;background:var(--lc-color,#5b8def);animation:l-se-dual-bounce-teal-m var(--lc-speed,1s) ease-in-out infinite}
.l-se-dual-bounce-teal::after{animation-delay:calc(var(--lc-speed,1s)/-2)}
@keyframes l-se-dual-bounce-teal-m{0%,100%{transform:translateY(0)}50%{transform:translateY(calc(var(--lc-size,16px)*2))}}
