.l-se-triple-pulse-blue{--lc-color:#3b82f6}
.l-se-triple-pulse-blue{position:relative;width:var(--lc-size,12px);aspect-ratio:1;border-radius:50%;background:var(--lc-color,#5b8def);animation:l-se-triple-pulse-blue-p var(--lc-speed,1s) ease-in-out .16s infinite}
.l-se-triple-pulse-blue::before,.l-se-triple-pulse-blue::after{content:'';position:absolute;top:0;width:100%;aspect-ratio:1;border-radius:50%;background:var(--lc-color,#5b8def);animation:l-se-triple-pulse-blue-p var(--lc-speed,1s) ease-in-out infinite}
.l-se-triple-pulse-blue::before{left:-160%;animation-delay:0s}
.l-se-triple-pulse-blue::after{left:160%;animation-delay:.32s}
@keyframes l-se-triple-pulse-blue-p{0%,80%,100%{transform:scale(.4);opacity:.4}40%{transform:scale(1);opacity:1}}
