.l-spinner-triangle-green{--lc-color:#22c55e}
.l-spinner-triangle-green{width:0;height:0;border-left:calc(var(--lc-size,40px)/2) solid transparent;border-right:calc(var(--lc-size,40px)/2) solid transparent;border-bottom:var(--lc-size,40px) solid var(--lc-color,#5b8def);animation:l-spinner-triangle-green-r var(--lc-speed,1.2s) ease-in-out infinite}
@keyframes l-spinner-triangle-green-r{to{transform:rotate(1turn)}}
