.l-se-dual-orbit-orange{--lc-color:#f97316}
.l-se-dual-orbit-orange{position:relative;width:var(--lc-size,44px);aspect-ratio:1;animation:l-se-dual-orbit-orange-r var(--lc-speed,1.2s) linear infinite}
.l-se-dual-orbit-orange::before,.l-se-dual-orbit-orange::after{content:'';position:absolute;left:calc(50% - 15%);width:30%;aspect-ratio:1;border-radius:50%;background:var(--lc-color,#5b8def)}
.l-se-dual-orbit-orange::before{top:0}
.l-se-dual-orbit-orange::after{bottom:0;opacity:.5}
@keyframes l-se-dual-orbit-orange-r{to{transform:rotate(1turn)}}
