.l-se-hourglass-indigo{--lc-color:#6366f1}
.l-se-hourglass-indigo{position:relative;width:var(--lc-size,30px);height:calc(var(--lc-size,30px)*1.5);animation:l-se-hourglass-indigo-f var(--lc-speed,1.6s) ease-in-out infinite}
.l-se-hourglass-indigo::before,.l-se-hourglass-indigo::after{content:'';position:absolute;left:0;width:0;height:0;border-left:calc(var(--lc-size,30px)/2) solid transparent;border-right:calc(var(--lc-size,30px)/2) solid transparent}
.l-se-hourglass-indigo::before{top:0;border-top:calc(var(--lc-size,30px)*.72) solid var(--lc-color,#5b8def)}
.l-se-hourglass-indigo::after{bottom:0;border-bottom:calc(var(--lc-size,30px)*.72) solid var(--lc-color,#5b8def)}
@keyframes l-se-hourglass-indigo-f{0%,100%{transform:rotate(0)}50%{transform:rotate(180deg)}}
