.l-spinner-triangle-indigo{--lc-color:#6366f1}
.l-spinner-triangle-indigo{width:0;height:0;border-left:calc(var(--lc-size,40px)/2) solid transparent;border-right:calc(var(--lc-size,40px)/2) solid transparent;border-bottom:var(--lc-size,40px) solid var(--lc-color,#5b8def);animation:l-spinner-triangle-indigo-r var(--lc-speed,1.2s) ease-in-out infinite}
@keyframes l-spinner-triangle-indigo-r{to{transform:rotate(1turn)}}
