.l-spinner-triangle-red{--lc-color:#ef4444}
.l-spinner-triangle-red{width:0;height:0;border-left:calc(var(--lc-size,40px)/2) solid transparent;border-right:calc(var(--lc-size,40px)/2) solid transparent;border-bottom:var(--lc-size,40px) solid var(--lc-color,#5b8def);animation:l-spinner-triangle-red-r var(--lc-speed,1.2s) ease-in-out infinite}
@keyframes l-spinner-triangle-red-r{to{transform:rotate(1turn)}}
